<div class="container">
  <div class="row">
    <div *ngFor='let cart of cart_state'>
      <div *ngFor='let item of items'>
        <div class="card" *ngIf='item.id===cart'>
          <div class="card-body">
            <p><b>{{item.name}}</b> , price for 1 item: {{item.price}}.</p>
              <p>price for {{amount[item.id]}} items: {{price[item.id] ? price[item.id] : item.price}}</p>
          </div>
          <p>amonut</p>
            <input
              class="amount"
              type="number"
              min="1"
              [value]='amount[item.id] ? amount[item.id] :  1'
              (change)='changeValue($event,item)'
              [(ngModel)]='amount[item.id]'
            >
          <button
            class="btn btn-danger"
            (click)='removeFromCart(item.id)'
            >
            Remove from cart
          </button>
        </div>
      </div>
    </div>
    <div class="total_price"><b>Total price: </b>{{total_price}}</div>
  </div>
</div>