<div class="container">
  <div class="row">
    <div *ngFor='let item of items;'>
      <div class="card">
        <div class="card-header">
          <b>{{item.name}}</b>
        </div>
        <div class="card-body" >
          <h5 class="card-title">{{item.label}}</h5>
          <div class="price-amount">
            <p class="card-text">Price: {{item.price}}</p>
            <div class="amonut-wrapper" *ngIf='amount[item.id]'>
              <p>amount: </p>
              <input
                class="amount"
                type="number"
                min="1"
                [value]='amount[item.id]'
                (change)='changeValue(item.id, $event)'
              >
            </div>
          </div>

          <button
            class="btn btn-primary"
            (click)="addToCard(item.id); item.disable=false"
            >
            Add to cart
            </button>
            <p class="alert alert-success" *ngIf='amount[item.id]'>you added product to <a href="/cart">
              Cart
            </a>. You can manage number of product, or remove from <a href="/cart">
              Cart
            </a></p>
        </div>
      </div>
    </div>
  </div>
</div>